@reference "tailwindcss";
@reference "../../globals.css";

.container {
	@apply flex gap-16 border-y-[1px] border-white w-fit px-4 py-16;
}
.info {
	@apply flex items-center gap-6;
}
.content {
	@apply flex flex-col justify-center gap-6;
}
