@reference "tailwindcss";
@reference "./globals.css";

.container {
	@apply bg-bg-1 flex flex-col items-center;
	min-height: 100vh;
}
.introduction {
	@apply flex flex-col items-center gap-16;
}
.article {
	@apply flex flex-col items-center;
}
.content {
	@apply flex flex-col gap-8 p-6 items-center justify-center;
}
.mainphoto {
	@apply rounded-full border-brand-1 border-[3px];
}
.infoList {
	@apply flex flex-col gap-4;
	li {
		@apply flex gap-4;
	}
	a {
		@apply px-2 text-bg-1 bg-brand-1 rounded-xl;
	}
}
.aside {
	@apply w-fit border-white border-4 shadow-brand-1;
	border-radius: 100px 0px 70px 0px;
	position: relative;
	z-index: 100;
	&::before {
		@apply content-[''] absolute w-full h-full border-brand-1;
		border-left: 4px solid var(--color-brand-1);
		border-top: 4px solid var(--color-brand-1);
		border-radius: 100px 0px 70px 0px;
		top: -5px;
		left: -5px;
		z-index: 1;
		overflow: none;
		filter: blur(2);
	}
}
.main {
	@apply flex items-center	;
}
.block {
	@apply flex items-center gap-4;
}
.infoBlock {
	@apply bg-bg-2 px-8 py-12 flex gap-12 flex-col w-fit h-fit rounded-[80px];
}
.infoContent {
	@apply flex gap-32;
}
